





* {
	box-sizing: border-box;
}

h1 {
	font-family: sans-serif;
	font-size: 2rem;
	margin: 0;
	padding: 1rem;

	/* 3. Using absolute positioning, place the title in the top right corner of the image. */
	position: absolute;
	top: 0;
	right: 0;

	/* 4. Using the z-index property, place the title overtop of the pink overlay. */
	z-index: 1;
}

img {
	height: auto;
	max-width: 100%;
	display: block;
}

.container {
	display: inline-block;
	border: 0.2rem solid black;
	margin: 1rem;
	/* 1. Using a combination of relative and absolute positioning the pink overlay on top of the image. */
	position: relative;
}

.overlay {
	background-color: rgba(230,0,200,0.5);
	min-height: 2rem;
	min-width: 2rem;
	opacity: 1;
	transition: opacity 0.5s;
	/* 1. Using a combination of relative and absolute positioning the pink overlay on top of the image. */
	/*2. Set the pink overlay to fill up the entire container by setting the top, right, bottom, and left properties on the overlay. */
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

}

.overlay:hover {
	opacity: 0;
}
